# Supabase
DATABASE_URL=postgresql://postgres:segmenttree%40dylan@db.celyguvyrlfvqvwqrsxg.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:segmenttree%40dylan@db.celyguvyrlfvqvwqrsxg.supabase.co:5432/postgres
# Next.js
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000


**.dockerignore**:

node_modules
.next
.env
.env.local
.git